body {
	background: #eee;
	margin: 0;
	padding: 0;
}
#busy {
	position: fixed;
	z-index: 1;
	left: 50%;
	top: 50%;
	width: 10em;
	height: 2em;
	margin: -1em 0 0 -5em;
	line-height: 2em;
	text-align: center;
	background: #333;
	color: #fff;
	opacity: 0.8;
}
#graph_form {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	background: #ccc;
	opacity: 0.8;
}
#graph_form div {
	margin: 0.5em;
	text-align: center;
}
#graph_form input.little_button {
	width: 3em;
}
#graph_form select,
#graph_form input.big_button {
	width: 15em;
}
#graph_container {
	background: #fff;
	margin: 0 auto;
}
#graph_texts {
	position: relative;
}
#graph_texts div div {
	position: absolute;
}
#debug_output {
	margin: 1em;
}
